

a {
    text-decoration: none;
    color: black;
}

/*
========================================
Navbar
========================================
*/

.nav-header{
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    background-color: #ffff;
}
.nav-header .nav-left {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14.25px;
    gap: 1rem;
    margin: 1rem;
}

.nav-header .nav-left a {
    font-family: 'Libre Franklin', sans-serif;
}

.nav-header .nyt-logo svg {
    flex: 2;
    display: block;
    width: 195;
    height: 26px;
}

.nav-header .nav-right button{
    color: #fff;
    background-color: #567B95;
    padding: 10px 7px 10px 7px;
    border: none;
    border-radius: 2px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}


/*
========================================
Page Contents
========================================
*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
}

.main-img {
    width: 945px;
    height: 531px;
}

.content h1 {
    padding-top: 3rem;
    font-size: 40px;
    font-weight: bold;
    
}

.content h2 {
    align-self: normal;
    font-weight: bold;
    text-align: start;
}

.content p {
    width: 600px;
}

.content > * {
    padding-top: 10px;
}

